<img class="logo" src="../../../../assets/icons/minePASSlogovertical.svg" alt="logo">

<div class="menu-items">
  <div class="horizonts">
    <button 
    matTooltip="Техника"
    [matTooltipPosition]="'right'"
    (click)="techniqueEvent.emit()" mat-icon-button class="custom-icon-button">
      <img src="../../../../assets/icons/Machinery.svg" alt="">
    </button>
    <button
    matTooltip="Персонал"
    [matTooltipPosition]="'right'"
    (click)="personalEvent.emit()" mat-icon-button class="custom-icon-button">
      <img src="../../../../assets/icons/Staff.svg" alt="">
    </button>
  </div>
  <div class="bottom">
    <button mat-icon-button class="custom-icon-button">
      <img src="../../../../assets/icons/Admin.svg" alt="">
    </button>
    <button mat-icon-button class="custom-icon-button">
      <img src="../../../../assets/icons/Exit.svg" alt="">
    </button>
  </div>
</div> 