
.ol-control,
.ol-control:hover {
  background-color: transparent !important;
  padding: unset !important;
}

div.ol-zoom.ol-control {
  top: unset !important;
  left: unset !important;
  bottom: 5.5em !important;
  right: 0.5em !important;
}

.ol-zoom button {
    font-size: 24px !important;
    font-weight: 500 !important;
    border-radius: 100% !important;
    margin: 5px !important;
    cursor: pointer !important;
    height: 48px !important;
    width: 48px !important;
    color: #3d4d9c !important;
    background-color: white !important;
    box-shadow: none !important;
    &:hover{
        background-color: white !important;
    }
}