<ng-container>
  <mat-sidenav-container autosize>
    <mat-sidenav #sidenav1 mode="side" role="navigation" position="start" opened>
      <div class="content-sidenav">
        <app-sidebar (toggleEvent)="sidenav2.toggle()"></app-sidebar>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-sidenav-container autosize >
        <mat-sidenav
          #sidenav2
          mode="side"
          position="start"
          role="navigation"
        >
        <div style="width: 37vw;">
          <button
            (click)="sidenav2.toggle()"
            mat-button
          >
            <i class="material-icons">reorder</i>
          </button>
        </div>
        </mat-sidenav>

        <mat-sidenav-content>
          <div class="content-container">
            <router-outlet></router-outlet>
          </div>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
