<as-split [useTransition]="true" unit="pixel" [gutterSize]="5">
  <as-split-area class="hide-gutter"
    [size]="40" [minSize]="40" [maxSize]="40" [order]="1" [visible]="true">
    <div class="content-sidenav">
      <app-sidebar (personalEvent)="personal.toggle(); technique.close()" (techniqueEvent)="technique.toggle(); personal.close()"></app-sidebar>
    </div>
  </as-split-area>

  <as-split-area 
  class="content-secondsidenav"
    [size]="650" [minSize]="500" [maxSize]="900" [order]="2" [visible]="technique.opened">
    <mat-sidenav #technique mode="side" position="start" role="navigation" (closedStart)="closeTechnique()">
      <ng-container>
        <app-technique
        [data]="techniqueData$ | async" 
        (tabCloseEvent)="technique.toggle(); personal.close()"></app-technique>
      </ng-container>
    </mat-sidenav>
  </as-split-area>

  <as-split-area
  class="content-secondsidenav"
    [size]="650" [minSize]="500" [maxSize]="900" [order]="3" [visible]="personal.opened">
    <mat-sidenav #personal mode="side" position="start" role="navigation" (closedStart)="closePersonal()">
      <app-personal
      [data]="personalData$ | async" 
      (tabCloseEvent)="personal.toggle(); technique.close()"></app-personal>
    </mat-sidenav>
  </as-split-area>
  
  <as-split-area
    [size]="'*'" [order]="4" [visible]="true">
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </as-split-area>
</as-split>