.content-sidenav {
  width: 40px;
  height: 100vh;
  overflow-x: hidden;
}

.content-secondsidenav {
  background-color: #bcbcc33d;
}

.content-container {
  min-height: 100vh;
  box-sizing: border-box;
}

:host ::ng-deep .as-split-gutter:first-of-type {
    display: none !important;
}
